@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Titillium+Web:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* body */

body {
    font-family: Titillium Web, sans-serif;
    background-color: #3f3f3f;
    font-weight: 300;
    color: #fff;
    letter-spacing: 2px;
}


/* headings and logo */

h1, 
h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;

}

.logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;

}

.logo:hover {
    color: #AF2174;

}

/* menu / navigation links */

.menu, .logo {
    line-height: 75px;
}

.menu {
    font-size: 125%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Titillium web, sans-serif;
    margin-right: 30px;

}

.menu li {
    float: right;
    list-style-type: none;
    margin-left: 40px;
}

.menu a {
    text-decoration: none;
    color: white;
    
}

/* ideas for neon box-shadow from: https://blog.logrocket.com/three-ways-style-css-box-shadow-effects/#creating-neon-shadows-css-box-shadow */
.menu a:hover {
    border-bottom: 2px solid #AF2174;
    box-shadow: 5px 10px 30px #AF2174;
}

.active {
    border-bottom: 2px solid #AF2174
}

/* hero image */

.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

}

.hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    clear: both;
    

    
    /* animates zoom effect on hero-image on loading page */

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

/* Visual zoom level effect for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}
/* about us section */

.section-us {
    width: 80%;
    background-color: #AF2174;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 30px auto;

}

.section-us img {
    height: 300px;
    margin: 1px;
    padding-left: 2%;
    box-shadow: #3f3f3f;
    

}

.section-us h2 {
    margin: 30px;
    text-align: center;
}

.section-us p {
    text-align: center;
    
}
/* why be a member and play basketball section */

.why-boxes {
    margin: 30px auto;

}

.why-boxes h2 {
    margin-bottom: 60px;
    text-align: center;
}

.member-title {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;

}

.reasons {
    background: #AF2174;
    margin: 5px;
    margin-bottom: 50px;
    margin: 0px 30px;
    width: 300px;
    padding: 20px;
    position: relative;
    border-radius: 15%;

}

.reasons h3 {
    margin: 20px;
}

/* footer */

footer {
    height: 150px;
}

.socials {
    text-align: center;
    list-style-type: none;
    
}

.socials > li {
    display: inline;

}

.socials i {
    font-size: 170%;
    margin: 2%;
    padding: 2%;
    color: #fff;

}

.socials i:hover {
    color: #AF2174;
}

/* form */

.form-section {
    clear: left;
    height: 900px;
    width: 100%;
    background: url("../images/sign-up-image.jpg");
    background-size: cover;
    background-position: center;

}

.signup-form {
    margin: 200px 10% 0 0;
    color: #fff;
    background-color: rgba(163, 68, 147, 0.514);
    max-width: 450px;
    position: absolute;
    left: 15%;
    padding: 30px;

}    

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;

}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 30px;
    margin: 10px 0 20px;
    border: 2px solid #fafafa;
    border-radius: 10px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #3f3f3f;
    color: #fff;
    display: block;
}

/* media queries */


@media only screen and (min-width:768px) and (max-width:1200px)
{
 
    footer {
        height: auto;
    }
    
    .section-us {
        width: 100%;padding-top: 2em;padding-bottom: 2em;
    }
 
section.about-us {
    padding-inline: 1em;
}
section.section-why-member {
    padding-inline: 1em;
}
 
.section-us img {
    margin-top: 1em;
}
 
.section-us h2 {
    margin-top: 11px;
}
 
section.section-why-member .why-boxes {
    margin-top: 4em;
}
 
section.section-why-member h2 {
    margin-bottom: 2em;
}
 
.reasons {
    width: 33%;display: inline-block;margin: 0 8px;border-radius: 27px;
}
 
h1.logo {
    font-size: 1.8em;
}
 
}
 
@media only screen and (max-width:768px)
{
    section.section-why-member {
        padding-inline: 1em;
    }
 
.reasons {
    display: block;width: 100%;margin: 4px;border-radius: 13px;margin-bottom: 1em;
}
 
.member-title {
    display: block;
}
 
.why-boxes h2 {
    margin-bottom: 30px;margin-top: 3em;
}
 
 
footer {
    height: 89px;
}
 
h1.logo {
    font-size: 20px;display: block;width: 100%;text-align: center; margin: auto;
}
 
ul.menu {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.menu li {
    list-style: none;
    flex: 3;
    text-align: center;
    margin:0;
}
nav {
    display: table;
    width: 100%;
}
.section-us {
    display: block;width: 100%;padding: 11px;
}
 
section.about-us {
    padding-inline: 1em;
}
 
.section-us img {
    width: 100%;height: auto;padding-top: 2em;padding-inline: 0; margin-inline: 0;
}
.reasons h3 {
    margin-top: 0;
}
 
}
 
header {
    overflow: hidden;
}